<form method="post" action="{{ path('guests_delete', {'id': guest.id}) }}" onsubmit="return confirm('T\'es sûr ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ guest.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
