{% extends 'base.html.twig' %}

{% block title %}Edit Guests{% endblock %}

{% block body %}
    <div class="container my-2">
        <h1 class="text-center">Modifier un invité</h1>
        <div class="w-100 text-end">
            <a class="btn btn-primary text-right" href="{{ path('guests_index') }}">Retour à la liste</a>
        </div>
    </div>

    {{ include('guests/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
